.cabezera
{
    border-bottom: 1px solid rgb(224, 224, 224);
    border-bottom: 11px red;
    padding-bottom: 15px;
    
    .titulo{
        h2{
            margin-left: 1.5vw;
            font-weight: 400;
            width: 42vw;
        }
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-between;     
    }

    .filtros{
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-between;  
        margin-top: 1vh;

        .categoria{
            display: flex;
            a{
                text-decoration: none;
                padding: 5px 8px;
                color: rgb(102, 102, 102);
                border: 1px solid rgb(102, 102, 102);
                border-left: none;

                &:hover{
                    background-color: rgb(240, 240, 240);
                }
            }

            a:first-child{
                border: 1px solid rgb(102, 102, 102);
                border-radius: 0.3rem 0 0 0.3rem;
            }

            a:last-child{
                border: 1px solid rgb(102, 102, 102);
                border-left: none;
                border-radius: 0 0.3rem 0.3rem 0;
            }
        }
        

    }

    .info{
        margin-top: -1vh;
        display: flex;
        p{
            margin: 0;
            margin-left: 1.5vw;
            font-size: 13px;
        }
    }

}

@media ( max-width: 500px )
{
    .cabezera{
		.titulo {
			flex-direction: column;
		}
		
		.info{
			margin-top: 0;
		}
    }
}