$green: #2DD284 !default;

.fade {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;    
}
.modal_invisible{
    width: 0px !important;
    box-shadow: none !important;

    svg{
        -webkit-transition: all 0.9s ease-in-out;
        -moz-transition: all 0.9s ease-in-out;
        -o-transition: all 0.9s ease-in-out;
        transition: all 0.9s ease-in-out;   

        fill: $green !important;
        height: 0px;
    }

    h2{
        -webkit-transition: all 0.9s ease-in-out;
        -moz-transition: all 0.9s ease-in-out;
        -o-transition: all 0.9s ease-in-out;
        transition: all 0.9s ease-in-out;   

        font-size: 0px;
    }
}

.sucessmodal{
    width: 300px;
    height: 70% !important;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    z-index: 99999;
    box-shadow: 0.1px 0.1px 10px 2px gray;
    border-radius: 0.4rem;
    overflow: hidden;
    .modalheader{
        width: 100%;
        height: 40%;
        background-color: $green;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            fill: white;
            font-weight: 900;
        }
    }

    .modalcontent{
        width: 100%;
        height: 60%;
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-items: center;
        justify-content: center;


        h2:first-child{
            font-weight: 700;
        }

        h2{
            font-weight: 400;
        }

        .model__okeyButton{
            width: 50%;
            min-height: 27px !important;
            background-color: #0095ff;
            font-size: 12px !important; 
            font-weight: 500;
            padding: 9px;
            border: none;
            outline: none; 
            box-shadow: none;
            cursor: pointer;
            border-radius: 0.18rem;
            border: 0.2px solid #0095ff;
            color: rgb(248, 246, 246);
        }
    }
}