.loadingSpinner{
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 99999999999999999;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #2F3337;
    
    .spinner{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 8px solid #F48024;
        border-left: 10px solid #ffa45a;
        animation: rotar 1.2s linear infinite;
    }
}


@keyframes rotar{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);

    }
}